{% extends "layout-type.html" %}
{% block title %}Cart{% endblock %}
{% block content %}
<a class="text-decoration-none" href="/"><p class="card-text fs-4 text-danger fw-bolder px-4 py-3">&#8592 Back</p></a>
<hr>  
<section class="my-6">
  <div class="container-fluid">
  <p class="card-text fs-2 fw-bolder px-4 py-3">Cart</p>  
  {% if request.session.cart.items %}
    <div class="d-flex flex-row justify-content-evenly flex-wrap mt-4">
        {% for key,value in request.session.cart.items %}
            <div class="mb-5 d-flex flex-row ps-2" style="width: 200vh;">
                <a class="text-decoration-none" href="">
                    <img src="{{value.image}}" class="card-img-top" style="height:80px;width:80px;" alt="hotel image"/>
                    <div class="card-body d-flex justify-content-start flex-column">
                      <p style="margin-top:-20px;" class="card-text fs-6 fw-bold ">{{value.name}}</p>
                      <p style="margin-top:-15px;" class="card-text text-dark fs-6 fw-normal">{{value.price}}</p></a>
                      <div class="d-flex flex-row justify-content-start">
                        <a id="dec-btn" class="btn btn-danger fw-bolder fs-6" href="{% url 'item_decrement' value.product_id %}"><b>-</b></a>
                        <p id="quantity" class="fw-bold fs-6 text-dark px-3"><b>{{value.quantity}}</b></p>
                        <a class="btn btn-success fw-bolder fs-6" href="{% url 'item_increment' value.product_id %}"><b>+</b></a>
                        <a href="{% url 'item_clear' key %}" class="justify-content-start ms-4"><i class="fa fa-times text-danger"></i></a>
                      </div>
                    </div>
            </div>
        {% endfor %}
  </div>
  
  <form action="" method="post">{% csrf_token %}
    <div class="d-flex flex-row justify-content-center align-items-center flex-wrap mt-4 mb-5" style="position:relative;">
      <input type="text" class="card-text text-dark fs-6 fw-bold me-2" name="promocode" placeholder="Apply Discount Code">
      <button class="btn btn-outline-light bg-danger text-white fw-bold" style="height:33px;width:90px;" type="submit">Apply</button></a>
    </div>
  </form>
  {% if messages %}
  <div class="d-flex justify-content-center  flex-column align-items-center" style="margin-top:-40px;">
  {% for message in messages %}
    <p class="fw-bold fs-6 text-dark px-3">{{message}}</p>
  {% endfor %}
  </div>  
{% endif %}  
  
  {% if amount %}
  <div class="d-flex flex-row justify-content-center align-items-center flex-wrap mt-4 mb-5" style="position:relative;">
    <h3 class="fw-3 fs-3 text-primary me-4">Sub Total </h3><p class="card-text text-dark fs-5 fw-bold me-5 mt-2">₹ {{amount}}</p>
    <a class="text-decoration-none" href="{% url "payment" %}"><button class="btn btn-outline-light bg-danger text-white fw-bold" style="height:45px;width:100px;" type="submit">Checkout</button></a>
  </div>
  {% else %}
  <div class="d-flex flex-row justify-content-center align-items-center flex-wrap mt-4 mb-5" style="position:relative;">
    <h3 class="fw-3 fs-3 text-primary me-4">Sub Total </h3><p class="card-text text-dark fs-5 fw-bold me-5 mt-2">₹ {{cart_total_amount}}</p>
    <a class="text-decoration-none" href="{% url "payment" %}"><button class="btn btn-outline-light bg-danger text-white fw-bold" style="height:45px;width:100px;" type="submit">Checkout</button></a>
  </div>
  {% endif %}
 
  <div class="d-flex flex-row justify-content-center align-items-center flex-wrap mt-4 mb-5" style="position:relative;">
    <a class="text-decoration-none" href="{% url "delivery" %}"><button class="btn btn-outline-light bg-success text-white fw-bold" style="height:35px;width:200px;" type="submit">Continue Shopping</button></a>
  </div>

{% else %}
<h2>Nothing in your Cart. Go & Shop Now.</h2>

<div class="d-flex flex-row justify-content-center align-items-center flex-wrap mt-4 mb-5" style="position:relative;">
  <a class="text-decoration-none" href="{% url "delivery" %}"><button class="btn btn-outline-light bg-success text-white fw-bold" style="height:35px;width:200px;" type="submit">Continue Shopping</button></a>
</div>
{% endif %}
 

</section> 

<script>
    if (document.getElementById("quantity").innerHTML === 1){
      <a id="dec-btn" class="btn btn-danger fw-bolder fs-6" disabled><b>-</b></a>
    }  
</script>
{% endblock %}